.note-details {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.note-details.active {
  position: static;
  z-index: 1;
}

.note-details__container {
  position: relative;
  height: 100%;
}

.note-details input {
  font-weight: 700;
  font-size: 32px;
  padding: 5px 15px;
  border: none;
}

.note-details textarea {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  padding: 15px;
  border: none;
  font-weight: 400;
  resize: vertical;
  flex-grow: 1;
}

.note-details__buttons {
  display: flex;
  justify-content: space-between;
}

.note-details__buttons button {
  width: 48%;
}
