.main {
  width: calc(100% - 100px);
  max-width: 1200px;
  margin: 0 auto;
  box-sizing: border-box;
  min-height: 100vh;
}

.main h1 {
  text-align: center;
}

.main main {
  display: flex;
  justify-content: space-between;
}

.main__left-column {
  width: 30%;
  border-radius: 20px;
  background-color: #ffffff;
  padding: 20px;
}

.main__left-column h1 {
  margin: 0;
  margin-bottom: 30px;
  font-size: 36px;
}

.main__right-column {
  margin-left: 20px;
  width: 70%;
  padding: 20px;
  border-radius: 20px;
  background-color: #ffffff;
}
