.register {
  display: flex;
  flex-direction: column;
  width: 350px;
  margin: 20px auto;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 20px;
}

.register h1 {
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
  font-size: 36px;
}
