.logout {
  display: inline-block;
  font-size: 15px;
  padding: 10px 20px;
  width: auto;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  border: 1px solid#1d2e5b;
  background-color: transparent;
}

.logout span {
  color: #1d2e5b;
}

.logout:hover {
  background-color: #1d2e5b;
}

.logout:hover span {
  color: #ffffff;
}
