.notes-list {
  list-style: none;
  margin: 0;
  margin-top: 20px;
  padding: 0;
  max-height: calc(100vh - 360px);
  overflow-y: scroll;
}

.notes-item {
  cursor: pointer;
  padding: 20px;
  font-size: 18px;
  border-radius: 10px;
}

.notes-item p {
  margin-bottom: 0;
  margin-top: 5px;
  font-size: 16px;
}

.notes-item.active {
  background-color: #c7d1ec;
}
