.welcome {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome a {
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  padding: 10px 20px;
  width: auto;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border: 1px solid#ffffff;
}

.welcome h1 {
  margin: 0;
  margin-bottom: 30px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 72px;
  line-height: 1;
  font-weight: 700;
}

.welcome p {
  margin: 0;
  margin-bottom: 30px;
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}

.welcome a:hover {
  color: #1d2e5b;
  background-color: #ffffff;
}

.welcome a:first-child {
  margin-right: 20px;
}
