body {
  margin: 0;
  background-color: #c2bfda;
  background-image: url("./image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}
